# General build informations
language: csharp
sudo: required
mono: none
dist: xenial
dotnet: 2.2

# Define the jobs
jobs:
    include:
      - stage: "Build"
        script: 
        - dotnet build src/Rhisis.Core/  --configuration Release
        - dotnet build src/Rhisis.Database/ --configuration Release
        - dotnet build src/Rhisis.Business/ --configuration Release
        - dotnet build src/Rhisis.Login/ --configuration Release
        - dotnet build src/Rhisis.Cluster/ --configuration Release
        - dotnet build src/Rhisis.World/ --configuration Release
        name: "Rhisis Servers"
      - script:
        - dotnet build src/Rhisis.API/ --configuration Release
        - dotnet build src/Rhisis.CLI/ --configuration Release
        name: "Rhisis Tools"

      - stage: "Tests"
        script: 
        - dotnet test test/Rhisis.Core.Test/
        - dotnet test test/Rhisis.Database.Test/
        - dotnet test test/Rhisis.Business.Tests/
        name: "Rhisis Tests"