# General build informations
language: csharp
sudo: required
mono: none
dotnet: 2.1.400

# Script to execute before each build and test
before_script:
  - dotnet restore

# Define the jobs
jobs:
    include:
      - stage: "Build"
        script: 
        - dotnet build src/Rhisis.Core/ --framework netstandard2.0 --configuration Release
        - dotnet build src/Rhisis.Database/ --framework netstandard2.0 --configuration Release
        - dotnet build src/Rhisis.Login/ --framework netcoreapp2.0 --configuration Release
        - dotnet build src/Rhisis.Cluster/ --framework netcoreapp2.0 --configuration Release
        - dotnet build src/Rhisis.World/ --framework netcoreapp2.0 --configuration Release
        name: "Rhisis Servers"
      - script:
        - dotnet build src/Rhisis.Admin/ --framework netcoreapp2.1 --configuration Release
        name: "Rhisis Administration tool"

      - stage: "Tests"
        script: dotnet test test/Rhisis.Core.Test/
        name: "Rhisis Core Unit tests"