# General build informations
language: csharp
mono: none
os: linux
dist: xenial
dotnet: 3.1.100

# Define the jobs
jobs:
    include:
      - stage: "Build"
        script: 
        - dotnet build src/Rhisis.CoreServer/ --configuration Release
        - dotnet build src/Rhisis.LoginServer/ --configuration Release
        - dotnet build src/Rhisis.ClusterServer/ --configuration Release
        - dotnet build src/Rhisis.WorldServer/ --configuration Release
        name: "Rhisis Servers"
      - script:
        - dotnet build src/Rhisis.CLI/ --configuration Release
        name: "Rhisis Tools"

      - stage: "Tests"
        script: 
        - dotnet test test/Rhisis.Core.Tests/ -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*"
        - dotnet test test/Rhisis.Login.Tests/ -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*"
        - dotnet test test/Rhisis.Cluster.Tests/ -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*"
        - dotnet test test/Rhisis.World.Tests/ -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[xunit*]*"
        name: "Rhisis Tests"

# after_script:
#  - bash <(curl -s https://codecov.io/bash) 