<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <time type="FastUTC" />
  <targets>
    <target name="file" xsi:type="File"
            fileName="${currentdir}/logs/${shortdate}/admin.log"
            layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
            concurrentWrites="false" keepFileOpen="true"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>