<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <time type="FastUTC" />
  <targets>
    <target name="file" xsi:type="File"
            fileName="${currentdir}/logs/core/${shortdate}.log"
            layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
            concurrentWrites="false" keepFileOpen="true"/>
    <target name="console" xsi:type="ColoredConsole"
            layout="[${longdate}] [${uppercase:${level}}]${when:when=level==LogLevel.Trace||level==LogLevel.Debug:inner= [${logger:shortName=true}]} ${message} ${exception:format=tostring}">

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Trace	" foregroundColor="DarkGray"/>
      <highlight-row condition="true" foregroundColor="White"/>

      <highlight-word text="[FATAL]" foregroundColor="DarkRed"/>
      <highlight-word text="[ERROR]" foregroundColor="Red"/>
      <highlight-word text="[WARN]" foregroundColor="Yellow"/>
      <highlight-word text="[INFO]" foregroundColor="Green"/>
      <highlight-word text="[DEBUG]" foregroundColor="Blue"/>
      <highlight-word text="[TRACE]" foregroundColor="DarkBlue"/>
    </target>
    <!--Basic colored console-->
    <!--<target name="console" xsi:type="ColoredConsole"
            layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue"/>
      <highlight-row condition="level == LogLevel.Trace	" foregroundColor="Gray"/>
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>