<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target name="file_warnings" xsi:type="File"
            fileName="${currentdir}/logs/world/warnings/${shortdate}.log"
            layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
            concurrentWrites="false" keepFileOpen="true"/>
    <target name="file_errors" xsi:type="File"
            fileName="${currentdir}/logs/world/errors/${shortdate}.log"
            layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"
            concurrentWrites="false" keepFileOpen="true"/>
    <target name="console" xsi:type="ColoredConsole" detectConsoleAvailable="true"
            layout="[${longdate}] [${uppercase:${level}}]${when:when=level==LogLevel.Trace||level==LogLevel.Debug:inner= [${logger:shortName=true}]} ${message} ${exception:format=tostring}">

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Trace	" foregroundColor="DarkGray"/>
      <highlight-row condition="true" foregroundColor="White"/>

      <highlight-word text="[FATAL]" foregroundColor="DarkRed"/>
      <highlight-word text="[ERROR]" foregroundColor="Red"/>
      <highlight-word text="[WARN]" foregroundColor="Yellow"/>
      <highlight-word text="[INFO]" foregroundColor="Green"/>
      <highlight-word text="[DEBUG]" foregroundColor="Blue"/>
      <highlight-word text="[TRACE]" foregroundColor="DarkBlue"/>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="console" />
    <logger name="*" writeTo="file_warnings" level="Warn" />
    <logger name="*" writeTo="file_errors" level ="Error" />
  </rules>
</nlog>